body {
  background-color: #000000;
}

.board {
  background-color: #000000;

  .column {
    display: inline-block;

    .cell {
      width: 7px;
      height: 7px;
      margin-left: 1px;
      margin-top: 1px;

      &.true {
        background-color: #00F000;
      }

      &.false {
        background-color: #222222;
      }
    }
  }
}
