.controllPanel {
  div {
    margin: 10px;
  }

  .playButton {
    float: left;
    background-color: #ccc;
    width: 120px;
    height: 60px;

    &.active {
      background-color: #555;
    }
  }

  .stopButton {
    float: left;
    background-color: #ccc;
    width: 120px;
    height: 60px;
  }
}
